html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width:100%;
}

.heading h1 {
    color: #2538f6;
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 50%;
}

h2 {
    padding: 10px 80px;
    font-size: 20px;
}

.main {
    background-color: #f2f2f2 ;
    padding: 30px 0 80px;
}

.main h2 {
    color: #999999;
    font-size: 20px;
    margin: 0;
    padding: 20px 20px;
}

rect {
    fill: steelblue;
}

text {
    fill: black;
    font: 10px sans-serif;
}

.marker {
    fill: white;
    text-anchor: middle;
}

rect {
    fill: orange;
}

rect:hover {
    fill: #d9a531;
}

.label {
    font: 16px sans-serif;
    text-anchor: middle;
}

.axis text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.barChart {
    float: left;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.humidityGauge {
    float: right;
    margin-right: 80px;
}

.gaugemarker {
    fill: white;
    font: 14px sans-serif;
    text-anchor: middle;
}

table td {
    padding-left: 20px;
}